@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: cover;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: #f8f8f8;
}
header {
    background-image: url('./assets/dot.png');
}
.container {
    max-width: 50rem;
    width: 95%;
    margin: 0 auto;
}

select,
input[type="search"] {
    @apply h-14 rounded-md bg-inherit border px-3 w-full text-base focus:outline-none focus:border-orange-500;
}
select {
    @apply bg-neutral-700 border-neutral-500;
}
input[type="search"] {
    @apply  bg-white;
}

.button {
    @apply w-full bg-orange-500 rounded-full h-14 hover:opacity-90 cursor-pointer text-lg font-bold text-white;
}
